body {
    background-image: url('imgfondo.jpg'); /* Imagen de fondo para móviles */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color: rgb(22,184,243);
    margin: 20px;
    text-align: center;
    font-size: 60px; /* Estilo por defecto para móviles */
}
h2 {
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 35px; /* Estilo por defecto para móviles */
}
p {
    color: rgb(255, 255, 255);
    font-size: 25px; /* Estilo por defecto para móviles */
    margin: 20px;
}

a.link-button {
    color: white;
    padding: 10px 15px;
    text-align: center;
    width: 200px;
    font-size: 30px; /* Estilo por defecto para móviles */
    text-decoration: none;
    display: inline-block;
    margin: 0 auto; /* Centrar los botones */
}
a.spotify { background-color: #1ED760; }
a.letterbox { background-color: #ff8000; }
a.steam { background-color: #2a475e; }
a.instagram { background-color: #ff0069; }
a.github { background-color: #6e5494; }
a.correo { background-color: #c8c8c8; color: rgb(0, 0, 0); }
a.discord { background-color: #7289da; }


/* Estilos para pantallas grandes (ordenador) 
@media screen and (min-width: 768px) {
    body {
        margin-left: 20%;
        margin-right: 20%;
        background-image: url('imgfondo-ordenador.jpg'); 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    h1 {
        font-size: 100px;
        text-align: left;
    }
    h2 {
        font-size: 50px;
        text-align: left;
    }
    p {
        font-size: 30px;
        text-align: left;
    }
    a.link-button {
        padding: 14px 25px;
        width: 300px;
        font-size: 40px;
    }
}*/