body {
    background-color: rgb(33, 33, 33);
    background-image: url('imgfondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color: rgb(22,184,243);
    margin: 20px;
    text-align: center;
    font-size: 120px;
}
h2 {
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 70px;
}
p {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 20px;
}
